{% extends 'base.html'%}
{% block head %}
<style>
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .txt {
        text-align: center;
        color: white;
        letter-spacing: 12px;
        font-size: 15vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
    }

    .btn {
        border: 2px solid #D24D57;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 100px;
        width: 200px;
        padding: 14px 15px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .08em;
        border-radius: 0;

    }

    .btn:hover {
        background-color: #D24D57;
        color: #fff;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="txt">Readly</div>
</div>
<div class="col-md-3"> <a href="{{ url_for('fi')}}" class="btn btn-sm">Let's Go</a>



    {% endblock %}
